@import url('https://fonts.googleapis.com/css2?family=Borel&family=Caveat:wght@400;500;600;700&family=Edu+SA+Beginner:wght@400;500;600&family=Handjet:wght@100;300;500&family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400;500&family=Signika+Negative:wght@300;400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    text-rendering:optimizeLegibility;
}

ul,li{
    list-style: none;
    padding: 0;
}

html,body{

}

body{
    display: flex;
    flex-direction: column;
}

.container{
    overflow: hidden;
    display: flex;
    min-height: 80dvh;
}


/*header*/
.header{
    background-color: rgb(0, 0, 0);
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    color: aliceblue;
    font-size: 1.2rem;
}




/*Side panel*/
.side-panel{
    background-color: rgb(245, 220, 220);
   /* background-color: blanchedalmond;
    background-color: rgba(236, 114, 1, 0.671);
    background-color: rgb(254, 255, 233);
    background-color: rgb(255, 153, 0);
    color: rgb(0, 0, 0);*/
}

.side-panel{
    flex: 0 0 20%;
}

.side-panel{
 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem 0rem 0rem;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    max-height: 100dvh;

}

.stat{
    border: 1px solid red;
    padding: 0rem 0 0 0;
}

.stat-head{
    font-family: 'Signika Negative'
}

.stat-content{
    border: 1px solid green;
    padding: 1rem;
    font-family: 'Signika Negative'
}

.stat-content > ul > li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    font-size: 1.1rem;
}


.quotes{
    border: 1px solid red;
    font-family: caveat;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.quote{
    border: 1px solid green;
}

.qaut{
    border: 1px solid green;
    text-align: right;
}

.side-panel{
    position: fixed;
    top: 5.8rem;
    left: 0;
    width: 20%;
    height: 87.7%;
    overflow-y: hidden;
}




/*Main*/
main{
    background-image: linear-gradient(to bottom, rgba(101, 36, 161, 0.897) , rgba(150, 37, 37, 0.918));
    

/*    background: #B79891;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to bottom, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to bottom, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/


    background-color: aqua;
}



main{
    padding: 1% 1% 1% 21%;

    flex: 1;
}

.body{

}

.books{
    overflow: auto;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}


.book{
    padding: 0;
    background-color: rgba(0, 0, 0, 0.363);
    color: antiquewhite;
    overflow: hidden;
    max-height: 520px;

}

.top{
    min-height: 10.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.read{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;
}

.read > div > h2{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    padding-bottom: 1rem;
}

.read > div > p{
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-family: monospace;
}

.line{
    height: 5.5rem;
    width: 1px;
    background-color: antiquewhite;
    align-self: flex-start;
}

.pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.pc > button{
    width: 70%;
    height: 2rem;
    font-size: 1.5rem;
    align-self: center;
}

.pc > button{
    background-color: transparent;
    border: none;
    border: 1px solid beige;
    color: antiquewhite;
    transition: 200ms ease-in-out;
}

.pc > button:hover{
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.603);
    cursor: pointer;
}

.complete{
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    font-family: oswald;

}

.comp-banner{
    background: rgb(4, 241, 4);
    transform: scale(0);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 0;
    text-align: center;
}

.comp-banner.active{
    transform: scale(1);
}

.author{
    text-align: right;
}


.add-btn{
    background-color: transparent;
    border: none;
    font-size: 5rem;
    color: white;
    border: 5px solid white;
    border-radius: 1rem;
    min-height: 250px;
}

.add-btn:hover{
    cursor: pointer;
}




/*Form*/
.popup-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 10;
    border: 1px solid black;
    transition: 200ms ease-in-out;
    width: 500px;
    max-width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 0rem 1rem 1rem 1rem;
}

.popup-form.active{
    transform: translate(-50%,-50%) scale(1);
}

.form-header{
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.form-body > form{
    display: flex;
    flex-direction: column;
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 200ms ease-in-out;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.541);
    pointer-events: none;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}


.popup-form{
    border-radius: 0.5rem;
}

.form-header{
    padding: 0 0 0.5rem 0;
    font-family: borel;
}

.form-header > button{
    border: none;
    background: none;
    transform: scale(2);
}

/* .form-header > button{
    cursor: pointer;
} */

.form-header > h2{
    padding-top: 1rem;
}

.form-body > form > input,
.pages > div > input{
    padding: 0.3rem;
    margin-bottom: 1rem;
    /*outline: px solid green;*/
    outline: none;
    border: 0;
    border-bottom: 1px solid black;

    font-size: 1.1rem;
    font-family: signika;
}

.form-body > form > label,
.pages > div > label{
    font-family: borel;
    user-select: none;
}

.pages{
    display: flex;
    justify-content: space-between;
}

.form-body >  form > button{
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-image: linear-gradient(to bottom, rgba(128, 0, 128, 0.726), rgba(255, 0, 0, 0.692));
    font-family: borel;
    padding-top: 0.9rem;
    color: white;
    font-weight: bold;
}

.form-body > form > button:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(128, 0, 128), rgba(255, 0, 0, 0.986));
}


