@import url('https://fonts.googleapis.com/css2?family=Borel&family=Caveat:wght@400;500;600;700&family=Edu+SA+Beginner:wght@400;500;600&family=Handjet:wght@100;300;500&family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400;500&family=Signika+Negative:wght@300;400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

ul,li{
    list-style: none;
    padding: 0;
}

html,body{

}

body{
    display: flex;
    flex-direction: column;
}

.container{
    overflow: hidden;
    display: flex;
    min-height: 90dvh;
}


/*header*/
.header{
    background-color: rgb(0, 0, 0);
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    color: aliceblue;
    font-size: 1.2rem;
}




/*Side panel*/
.side-panel{
    background-color: beige;
}

.side-panel{
    flex: 0 0 20%;
}

.side-panel{
 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem 0rem 0rem;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    max-height: 100dvh;

}

.stat{
    border: 1px solid red;
    padding: 1rem 0 0 0;
}

.stat-head{
    font-family: 'Signika Negative'
}

.stat-content{
    border: 1px solid green;
    padding: 1rem;
    font-family: 'Signika Negative'
}

.stat-content > ul > li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    font-size: 1.1rem;
}


.quotes{
    border: 1px solid red;
    font-family: caveat;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.quote{
    border: 1px solid green;
}

.qaut{
    border: 1px solid green;
    text-align: right;
}



/*Main*/
main{
    background-color: aqua;
}



main{
    padding: 1rem;
    flex: 1;
}

.books{
    overflow: auto;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 1rem;
}


.book{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.363);
    color: antiquewhite;
    overflow: hidden;
}